.FlipCard {
  /* display: flex; */
  position: relative;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.FlipCard:hover {
  transform: rotateY(180deg);
}

.FlipCardFront,
.FlipCardBack {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #333;
  place-content: center;
  place-items: center;
  font-size: 18px;
  font-weight: 600;
}

.FlipCardFront {
  background: #ffc728;
}

.FlipCardBack {
  background: #f8c946;
  transform: rotateY(180deg);
}
