.deck-grid {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin: 2rem 2rem 0 2rem;
}

.deck {
  /* border: 3px solid black; */
  background: #333333;
  border: 1px solid white;
  position: relative;
  border-radius: 1rem;
}

.deck__content {
  color: black;
  margin: 2rem;
  padding: 0.5rem;
  /* box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1); */
  /* height: 80%; */
}

.deck__title {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.2;
  color: white;
  margin-bottom: 2rem;
}

.deck__description {
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.deck button {
  cursor: pointer;
  border: none;
}

.flex-btn {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100%;
}

.btn__proceed {
  background-color: green;
  color: white;
  width: 5rem;
  position: absolute;
  bottom: 10px;
}

.btn__delete {
  background-color: transparent;
  font-size: 16px;
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* @media (min-width: 60em) {
  .deck.featured {
    grid-row: span 2;
    grid-column: span 2;
  }
  .deck-grid {
    margin: 0;
  } 
}*/
