.deck button {
  /* position: absolute; */
  font-size: 12px;
  top: 5px;
  right: 5px;
  color: red;
  cursor: pointer;
}

.deck-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.deck {
  border: 3px solid grey;
  background: white;
}

.deck__content {
  color: black;
  margin: 0.5rem;
  padding: 0.5rem;
}
