.Deck {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Deck form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Deck h1 {
  font-size: 34px;
  text-align: center;
}

.cards {
  display: grid;
  margin: 0 auto;
  width: 600px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  color: black;
}
