.cards_container {
  max-width: 50rem;
  margin: auto;
}

.heading-flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  place-items: center;
}

.cards-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: auto;
}

.input_parent {
  position: relative;
}
