.Header {
  min-height: 5em;
  background-color: #313131;
  color: black;
  width: 100%;
}

.Header .container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}
