.header {
  /* min-height: 5em; */
  background-color: #313131;
  color: black;
  /* width: 100%; */
}

.header .container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.header img {
  width: 5em;
}
