:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 0;
}

img, picture {
  max-width: 100%;
  display: block;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
/* 
.container {
  margin-inline: auto;
  padding-inline: auto;
} */
